@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<body>
    <!-- Hero início -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div>
            <div class="bg-image d-flex justify-content-center align-items-center bg-1">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-7">
                            <h4 class="mb-5 animated slideInDown">Os produtos artesanais que garimpamos carregam histórias e energias... Aquilo que despertam em você é o que chamamos de conexão... E é ela que te guiará nesta loja online... Apenas sinta!</h4>
                            <a href="/Default/Catalogo/1" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Ver catálogo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero fim -->
    <!-- Detalhe início -->
    <div class="container-fluid bg-light my-5 py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Nossos destaques</h1>
                <p>Decore sua casa com bom gosto e torne seu ambiente um lugar único com nossas artes decorativas!</p>
                <p>Arte & Conexão são nossos meios de expressão; integram a essência dos nossos produtos e a riqueza cultural que há no mundo àquilo que somos.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/Máscara_de_madeira_guajajaras.png" alt="">
                        <h4 class="mb-3">Últimas unidades</h4>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/Default/Catalogo/1">Conferir</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/Tela_étnica_pintada_à_mão.png" alt="">
                        <h4 class="mb-3">Peças exclusivas</h4>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/Default/Catalogo/1">Conferir</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/Vaso_em_cerâmica_rústico_moldado.png" alt="">
                        <h4 class="mb-3">Mais desejados</h4>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/Default/Catalogo/1">Conferir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detalhe fim -->
    <!-- Visita início -->
    <div class="container-fluid bg-primary mt-5 py-6">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-5 text-white mb-3">Faça-nos uma visita</h1>
                    <p class="text-white mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.</p>
                </div>
                <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="">...</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Visita fim -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>
