@page

@model ArteConexao.Pages.Default.LoginModel

@{
    ViewData["Title"] = "Login";
}

<body>
    <!-- Header início -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">Login</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Default</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Header fim -->

    <!-- Login início -->
    <div class="container-xxl py-6">
        <div class="container">
            <partial name="_Notificacao"></partial>

            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Login</h1>
            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input id="iptNome" type="text" class="form-control" asp-for="LoginViewModel.Nome" placeholder="Nome" required>
                                    <label for="iptNome">Nome</label>
                                    <span class="text-danger" asp-validation-for="LoginViewModel.Nome"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input id="iptSenha" type="password" class="form-control" asp-for="LoginViewModel.Senha" placeholder="Senha" required minlength="6">
                                    <label for="iptSenha">Senha</label>
                                    <span class="text-danger" asp-validation-for="LoginViewModel.Senha"></span>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button id="btnLogin" class="btn btn-primary rounded-pill py-3 px-5" type="submit">Login</button>
                                <button id="btnCancelar" href="/Index" class="btn btn-danger rounded-pill py-3 px-5">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Login fim -->
</body>